.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 2.5vw;

}

.App-header {
  background-color: rgb(80, 80, 139);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 248, 248);
  font-weight: 400;
}

.tunein-logo {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255)
 }

.input-style{ 
  color:rgb(0, 0, 0);
  width: 200px;
}

#update {
  justify-content: center;
}

.genButton {
  width: 200px;
  height: 40px;
  background-color: rgb(80, 80, 139);
  color: white;
}

.bottomRow {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.body {
  display: 'block';
  width: '100%';
  font-family: "Lucida Console", "Courier New", monospace;
}

.cards {
  border: 6px rgb(80, 80, 139);
  border-style: double;
  margin: 5px;
}
